/* MATERIAL FONTS */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }


/* HOME - REVOLUTION SLIDER -> BULLETS */
#rev_slider_1_1_wrapper .revo-tbay-bullets .tp-bullet {
    border-radius: 0 !important;
    border: 1px solid #f2b705;
}

/* HOME - BULLETS RECOMENDADOS E BRANDS */
.bullets-recomendados .slick-dots li button, .bullets-brands .slick-dots li button {
    border-radius: 0 !important;
    border: 1px solid #033E8C;
    background-color: transparent !important;
}

/* HOME - BULLETS RECOMENDADOS E BRANDS HOVER*/
.bullets-recomendados .slick-dots li button:hover, .bullets-brands .slick-dots li button:hover {
    border-radius: 0 !important;
    border: 1px solid #033E8C;
    background-color: #033E8C !important;
}

/* HOME - BULLETS RECOMENDADOS E BRANDS ACTIVE */
.bullets-recomendados .slick-dots .slick-active button, .bullets-brands .slick-dots .slick-active button {
    border-radius: 0 !important;
    border: 1px solid #033E8C;
    background-color: #033E8C !important;
}

.vc_images_carousel .vc_carousel-indicators {    
    bottom: -30px !important;    
}

.recent-view h3 {
    font-size: 12px !important;
}

.amarelo {
    color: #f2b705;
}

/* HOME - ARROWS SHAPE RIGHT */
.tp-rightarrow.tparrows.revo-tbay-arrows {
    clip-path: polygon(10px 32px, 42px 42px, 42px 0px, 2px 8px) !important;  
    height: 42px !important;
    width: 42px !important;
    border: none !important;

}

/* HOME - ARROW SHAPE LEFT */
.tp-leftarrow.tparrows.revo-tbay-arrows {
    clip-path: polygon(42px 10px, 30px 35px, 0px 42px, 0px 0px) !important;   
    height: 42px !important;
    width: 42px !important;
    border: none !important;
}

 .tit-centro h2 {
    text-align: center !important;
}

/* HOME - ICONE WISHLIST */
.top-wishlist .count_wishlist.pink {
    background-color:#E50A5C;
}

/* HOME - ICONE MINICART */
.cart-icon .mini-cart-items {
    background-color: #2FB500 !important;
}

.yith-wcwl-add-button a:hover {
    background-color: #E50A5C !important; 
}

.woocommerce a.button.alt {
    background: transparent !important;
    color: #111;
}

.woocommerce a.button.alt:hover {
    background: #F2B705 !important;
}

.singular-shop div.product .tbay-wishlist a:hover i {
    color: #F2B705;
    background: #fff !important;
}

.woocs_price_code, .woocommerce-grouped-product-list-item__price {
    color: #2FB500 !important;
}

.singular-shop .woocs_price_code, .woocommerce-grouped-product-list-item__price {
    color: #F2B705 !important;
}

.nav.navbar-nav.megamenu li {
    padding-right: 17%;
}

.topbar .topbar-right .tbay-login .linear-icon-user {
	color: #F2B705 !important;
}

.woocommerce .product span.onsale .saled {
    background: #033E8C !important;
    min-width: 50px !important;
    height: 50px !important;
    padding: 12px 3px 0 10px !important;
    line-height: 14px !important;
}

.woocommerce .product span.onsale .featured {
    padding: 5px 3px 0 10px !important;
    min-width: 50px !important;
    height: 50px !important;   
}

.woocommerce .product span.onsale > span {
    /* background: #E50A5C !important; */
    clip-path: polygon(10px 42px, 50px 50px, 50px 0px, 2px 8px) !important; 
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    
}

.tbay-addon-instagram .tbay-addon-title ~ .btn-follow {      
    left: 300px !important;
    top: 0px !important;    
}

/* BOTÃO INSTAGRAM */
.btn-follow.style-botao-insta {
    display: block;
    width: 180px;
    height: 40px;
    background-image: linear-gradient(#FE0057, #F5981F);
    border-radius: 20px;
    font-size: 20px;
    line-height: 25px;
}
.btn-follow.style-botao-insta::after {
    display: none !important;
}
.tbay-addon-instagram .btn-follow span {
    color: #fff !important;
    position: relative;
    top: 5px !important;    
}

.singular-shop div.product .single_add_to_cart_button {
    background-color: #fff !important;
    color: #F2B705 !important;
}

.singular-shop div.product .single_add_to_cart_button {
    border: 2px solid #f2b705 !important;
}

#shop-now.has-buy-now .tbay-buy-now.button {    
    background: #00D100 !important;
    color: #fff;    
}

.woocommerce-grouped-product-list-item__price {
    color: #f2b705 !important;
}

#shop-now.has-buy-now .group-button .tbay-wishlist {
    margin-right: 5px !important;
}

#cboxClose {
    background-image: none; 
}

#cboxClose:before {   
    content: "" !important;
    width: 36px !important;
    height: 33px !important;
    border: transparent !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    text-shadow: none !important;
    text-indent: 0 !important;
    background: url('../images/furniture/compare-close_btn.png') !important;
}

.style-vertical .entry-summary {
    padding-left: 0 !important;
}

.singular-shop div.product .single_add_to_cart_button {
    padding: 0px 10px !important;
}

.checkout-button.button.alt.wc-forward {
    background: #2FB500 !important;
    border-color: #2FB500 !important;
}
.checkout-button.button.alt.wc-forward:hover {
    /* background: #2FB500 !important; */
    border-color: #f2b705 !important;
}

.box .btn.btn-default {
    background: #033E8C !important;
    border-color: #033E8C !important;
}

.woocommerce-checkout-payment .place-order button.button.alt {
    background: #2FB500 !important;
    border-color: #2FB500 !important;
}

.product-subtotal.price .woocs_special_price_code {
    color: #2FB500 !important;
}


.order-total .woocs_special_price_code {
    color: #2FB500 !important;
}

.wpcf7-form .form-horizontal select.required {
    color: #888 !important;
    line-height: 42px !important;
    margin-bottom: 25px !important;
    width: 100%;
}
.social li a {
    color: #f2b705 !important;
}

/* HOVER INSTAGRAM */
.tbay-addon-instagram .instagram-item-inner:before {
    background: rgba(254, 209, 0, 0.7) !important;    
}

/* NOVIDADES - PROGRESS BAR */
.progress-bar {
    background-color:#033E8C !important;
}

/* ERROR 404 */
.bg-error-404 {
    background: url("/wp-content/themes/urna/images/bg-error-404.png") no-repeat center center !important;
}
.page-404 {
    padding-top: 150px !important;    
}
.page-404 h1 {
    font-size: 40px !important;    
}

/* LOGIN FACEBOOK */
.nsl-button-svg-container {
    display: inline-block !important;
    margin-top: 20px;
}

.nsl-button-label-container {
    vertical-align: super !important;
}

/* FAVORITOS */
.woocommerce table.wishlist_table.shop_table .product-add-to-cart .add-cart a {
    background: #2FB500 !important;
    border-color: #2FB500 !important;
    font-size: 12px !important;
}

.shop_table.cart.wishlist_table .add-cart a i {
    display: none !important;
}

/* DASHBOARD */
.woocommerce .woocommerce-MyAccount-navigation ul li.is-active a {
    background: #033E8C !important;
}

/* SOBRE NOS */
.thumbs-sobre-nos {    
    padding-left: 0px !important;
}
.thumbs-sobre-nos li {
    display: inline-block;
    padding-left: 0px;
    padding-right: 35px;
    padding-bottom: 35px;
}